<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Security Clearance Required</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h3>Security Clearance Required to Continue</h3>
    
   <form action="/users" method="POST">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br><br>
    <label for="age">Age:</label>
    <input type="text" name="age" id="age"><br><br>
    <label for="rank">Rank:</label>
    <input type="text" name="rank" id="rank"><br><br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br><br>

  <input type="submit" />
</form>

<br>
<a href="/login">Or Login</a>
  </body>
</html>