<h2>User Information Validated</h2>
<ul>
<li>Name: <%= @user.name %></li>
<li>Email: <%= @user.email %></li>
<li>Rank: <%= @user.rank %></li>
<li>Age: <%= @user.age %></li>
</ul>

<a href='/'>Return to Mission Control</a>