<h3>Ship Manifest:</h3>

<p>Input the following specifications to build your ship.</p>

<form action="/spaceships" method="POST">
	<ul>
		<li><label>Name:</label>
			<input id="name" type="text" name="name"></li>
		<li><label>Type:</label>
			<input id="ship_type" type="text" name="ship_type"></li>
		<li><label>Speed:</label>
			<input id="speed" type="text" name="speed"></li>
		<li><label>Cargo:</label>
			<input id="cargo" type="text" name="cargo"></li>
	</ul>

	<h3>Crew Members</h3>
	<%current_user.astronauts.each do |astro|%>
		<input type="checkbox" name="spaceship[crew_member][]" id="<%=astro.name%>"value="<%=astro.name%>"<%='checked' if current_user.astronauts.include?(astro)%>> <%=astro.name%></input>
<%end%>
<br><br>
	<input type="submit" value="Create Space Craft">
</form>